.tlheading {
    color: white;
    font-size: 25px;
    font-family: 'Flairdisplay', serif;
    text-decoration:none;
}

a{
    text-decoration: none;
}

.headerdiv{
    display: grid;
    background-color: rgb(11, 44, 61);
    grid-template-columns: 1fr 1fr 6fr 1fr 1fr 1fr 1fr 1fr;

}

.addpy{
    background-color: #dab36a;
    border: none;
    padding: 10px;
    border-radius: 6px;
}

.addpy:hover{
    background-color: #f4b237;
    cursor:pointer;
}

.samplebox {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    font-size: 15px;
    color: white;
    font-family: 'Flairdisplay', serif;
    font-weight: 100;
}

.searchicon {
    width: 5%;
    padding-left: 15px;
}

.addicon {
    width: 40%;
}

.samplebox2 {

    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
}