body {
    background-color: #fff;
}

.profilecont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
}

.profsubcont{
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    background-color: #2c2c2c;
    border-radius: 30px;
    min-width: 15%;
    width: fit-content;
    padding: 30px;

}

p{
    font-weight: 600;
    font-family: 'josefin sans', sans-serif;
}

.signout{
    margin: auto;
    color: #2c2c2c;
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}